echo node_modules/ > .gitignore
echo dist_electron/ >> .gitignore
echo backend/dist/ >> .gitignore
echo frontend/dist/ >> .gitignore
echo ffmpeg_bin/ >> .gitignore
echo __pycache__/ >> .gitignore
echo *.pyc >> .gitignore
echo .env >> .gitignore
